/* Category Filter */
.category-filter {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  margin-right: 20px;
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

.category-filter .filter-section {
  font-size: 1.2em;
  margin-bottom: 15px;
  cursor: pointer;
}

.category-filter .filter-section span {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--card-background-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.category-filter .filter-section span:hover {
  background-color: var(--highlight-color);
}

.category-filter .filter-section.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-background-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

.category-filter .filter-section.categories .label {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.category-filter .filter-section.categories .label:hover {
  background-color: var(--card-background-color);
  border-radius: 5px;
}

.category-filter .filter-section.categories button {
  background: none;
  border: none;
  padding: 0;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 1.2em;
}

/* Categories Dropdown */
.categories-dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px; /* Add some space between button and dropdown */
}

.categories-dropdown li {
  margin-bottom: 5px;
}

.categories-dropdown li span {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--card-background-color);
  transition: background-color 0.3s;
  font-size: 1.2em;
  cursor: pointer;
}

.categories-dropdown li span:hover {
  background-color: var(--highlight-color);
}

/* Flexbox for positioning filter and book list */
.books-page {
  display: flex;
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

.books-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
}

/* Book Details Card */
.books-card {
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: var(--book-detail-card-background-color);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.books-card .books-title {
  font-size: 1.1em;
  text-decoration: none;
}

.books-card:hover .books-title {
  text-decoration: underline;
}

.books-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.books-details {
  padding: 10px;
}

.books-title {
  font-size: 1.2em;
  color: var(--primary-text-color);
  margin: 10px 0;
  background: none;
}

.books-author,
.books-price {
  margin: 5px 0;
  color: var(--secondary-text-color);
}

.books-price {
  font-size: 1em;
  color: var(--primary-text-color);
}
