:root {
  --background-color: #ffffff;
  --primary-text-color: #273e30;
  --secondary-text-color: #666361;
  --highlight-color: #b29a8b;
  --button-hover-color: #77665d;
  --card-background-color: #eee1cc;
  --book-detail-card-background-color: #f5f3f1;
}
