/* Import color variables */
@import "./colors.css";

/* Header */
.header {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

.header .logo {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.header .logo .fa-book {
  margin-right: 10px;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav a {
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1em;
}

.header nav a:hover {
  color: var(--highlight-color);
}

.header nav .logout-button {
  background-color: var(--highlight-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.header nav .logout-button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
}
